
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

.main-header {
    display: block;
    text-align: center;
}

.multicolor{
color: #2f7fc3;
}

.header-p{
  margin-top: -20px;
}

.container {
    display: inline-flex;
    margin-left: 200px;
   
}

.container img {
    width: 380px;
    height: 260px;
    border-radius: 25px;
}

.container h1{
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
}
.container p {
    word-wrap: normal;
    font-size: 15px;
    margin-left: 20px;
    font-weight: lighter;
}


.container-currency{
    background-color: #819db0;
    width: 380px;
    margin-top: 10px;
    margin-left: 15px;
    border-radius: 25px;
    height: 500px;
}

.container-market{
    background-color: #819db0;
    width: 380px;
    margin-top: 10px;
    margin-left: 15px;
    border-radius: 25px;
    height: 500px;
}

.container-data{
    background-color: #819db0;
    width: 380px;
    margin-top: 10px;
    margin-left: 15px;
    border-radius: 25px;
    height: 500px;
}

.btn {
    border-radius: 25px;
    background-color: #2f7fc3;
    border-color: white;
    border-style: none;
    margin: 20px;
    color: white;
    width: 100px;
    height: 25px;
}