html {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.5;
}

body, table, input, button{
    font: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5em;
    font-size: 1em;
    font-weight: normal;
}

h1{font-size: 3em;}
h2{font-size: 2.4em;}
h3{font-size: 1.8em;}
h4{font-size: 1.4em;}
h5{font-size: 1.2em;font-weight: bold;}
h6{font-size: 1em; font-weight: bold;}

p, ul, ol {
padding-bottom: 1.5em;
}
ul, ol, blockquote {
    padding-left: 1.5em;
}

ul, ol {
list-style-position: inside;
}

blockquote{
    border-left: 4px solid rgb(185, 183, 183);
    margin-bottom: 1.5em;
    font-style: italic;
    color: rgb(102, 102, 102);
}

blockquote:before{
    display: inline-block;
    content: '"';
}

blockquote::after{
    display: inline-block;
    content: '"';
}

blockquote p:last-child {
    padding-bottom: 0;
}

blockquote p.author{
    text-align: right;
}

blockquote p.author::before{
    display: inline-block;

}