.my-list{
    background: #f7f381;
    padding: 8px 24px;
    width: 350px;
    border: 1px solid #f7f381;
    box-shadow: 0 0 10px 2px #333333;
    margin-left: 120px;
}
h1{
    margin-left: 60px;  
}
ol {
    margin: 12px;
    margin-left: 50px;
}

p {
    align-items: center;
    margin-left: 70px;
}